
if SHIELD_CHALK42_LEFT

config ZMK_KEYBOARD_NAME
    default "chalk42"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CHALK42_LEFT || SHIELD_CHALK42_RIGHT

config ZMK_SPLIT
    default y

endif